
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CONGRATULATIONS!</h1>

<h2>Now you are part of our community!</h2><br />
<h2>From now on we will keep you informed!</h2>

<div class="newUser">@Html.ActionLink("Cities", "Index", "Cities")</div>
<div class="newUser">@Html.ActionLink("Opinions", "Index", "Post")</div>



